.compatible .support{
    background: #1d943b !important;
    color: #fff !important;
}

.compatible .unsupport{
    background: #d84a38 !important;
    color: #fff !important;
}

.compatible .partsupport{
    background: #852b99 !important;
    color: #fff !important;
}
